:host {
  display: flex;
  height: 100px;
  background: url("/assets/logo.svg") left center no-repeat, linear-gradient(to left, var(--bluegray-700) 0, var(--surface-0) 82%);
  background-size: contain;
  color: white;
  align-items: center;
  box-shadow: 0 -8px 10px 0px #b29df7;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 100px;
}
