:host {
  display: block;
  padding: 12px 12px 5rem;

  .movie-details-wrapper {
    padding-top: 60px;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;

    .tag {
      position: absolute;
      top: 12px;
    }

    .iframe-holder {

      iframe {
        width: 100%;
        height: calc(60vh - 100px);
      }

      margin-bottom: 24px;
    }
  }


}
