<section *ngIf="movie" class="movie-details-wrapper">

  <div class="tag">
    <p-tag *ngIf="movie.markedForWatch" class="fadeinup animation-duration-500" severity="success"
           value="On my watchlist">
      <ng-template pTemplate="icon">
        <i class="pi pi-desktop"></i>
      </ng-template>
    </p-tag>
  </div>

  <div class="iframe-holder">
    <iframe [frameBorder]="0" [src]="getTrailerUrl()" allowfullscreen></iframe>
  </div>

  <p-button
    (onClick)="addToWatch()"
    [label]="movie.markedForWatch ? 'Remove from Watchlist' : 'Add to Watchlist'">
    <i *ngIf="movie.markedForWatch else deleteTemp" class="pi pi-times"></i>
    <ng-template #deleteTemp>
      <i class="pi pi-list"></i>
    </ng-template>
  </p-button>

  <div class="movie-info">
    <h1>{{movie.title}}</h1>
    <p>Genre: {{movie.genre}}</p>
    <p>Release date: {{movie.released}}</p>
    <p>Duration: {{movie.duration}}</p>
    <p><i class="pi pi-star-fill"></i> {{movie.rating}}</p>
    <br>
    <h3>Description</h3>
    <p>{{movie.description}}</p>
  </div>

</section>
