<p-card [header]="title" [subheader]="genre">

  <ng-template pTemplate="header">
    <div class="flex justify-content-center thumb-image-container">
      <!-- <img [alt]="title" [src]="img"/> -->
      <div [style.background-image]="'url(' + img + ')'" class="thumb-image"></div>
    </div>
  </ng-template>

  <p-tag *ngIf="inWatchList" class="fadeinup animation-duration-500" severity="success" value="On my watchlist">
    <ng-template pTemplate="icon">
      <i class="pi pi-desktop"></i>
    </ng-template>
  </p-tag>

  <p>
    {{ released }}
  </p>

  <p>{{ duration }}</p>

  <p>
    {{ description }}
  </p>

  <p>
    <i class="pi pi-star-fill"></i> {{ rating }}
  </p>

  <ng-template pTemplate="footer">
    <p-button
      (onClick)="addToWatch($event)"
      [label]="inWatchList ? 'Remove from Watchlist' : 'Add to Watchlist'">
      <i *ngIf="inWatchList else deleteTemp" class="pi pi-times"></i>
      <ng-template #deleteTemp>
        <i class="pi pi-list"></i>
      </ng-template>
    </p-button>
  </ng-template>
</p-card>
