<h1>Movies from watchlist</h1>

<!-- Todo: change movies representation -->
<section class="flex flex-row">
  <app-movie-thumbnail (click)="goToMoviePage(movie)"
                       (onAddToWatch)="toggleMovieVisibility(movie)"
                       *ngFor="let movie of postponedMovies"
                       [description]="movie.description"
                       [duration]="movie.duration"
                       [genre]="movie.genre"
                       [img]="movie.img"
                       [inWatchList]="movie.markedForWatch"
                       [rating]="movie.rating"
                       [released]="movie.released"
                       [title]="movie.title"
                       [trailer]="movie.trailer"
                       class="flex py-2 px-2 fadein animation-duration-1000"></app-movie-thumbnail>
</section>

<p *ngIf="!postponedMovies.length">No movies have been added to your watchlist....</p>
